setuptools==65.5.0
gym==0.21.0
#torch==1.13.1
stable-baselines3==1.6
transformers==4.30.0
evaluate==0.4.0
rouge_score==0.1.2
accelerate==0.20.3
sentencepiece==0.1.99
protobuf==3.20.0
openai==0.27.8
rich==12.0.0
jsonlines==3.0.0
wandb==0.15.4
#einops